/*
 * Crimson Pro font is 75 characters wide at 24px. We'll use this as baseline text.
 */

body {
  font-family: "Crimson Pro", Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

.first-entry .entry-content {
    font-size: 24px;
}
.entry-header h2 {
    font-size: 28px;
}
.entry-content {
    font-size: 24px;
}
.entry-footer {
    font-size: 20px;
}

.post-meta {
    font-size: 20px;
}
.post-content {
    font-size: 24px;
    font-weight: 200;
}
.post-content pre {
    font-size: 18px;
}

.archive-posts {
    font-size: 24px;
}
.archive-count,
.archive-meta {
    font-size: 20px;
}

.nav #menu li a {
    font-size: 20px;
}
.nav #menu li a:hover span {
    border-bottom: 2px solid;
}

.footer {
    font-size: 16px;
}

@media screen and (max-width: 720px) {
    .first-entry .entry-content {
        font-size: 20px;
    }
    .entry-header h2 {
        font-size: 24px;
    }
    .entry-content {
        font-size: 20px;
    }
    .entry-footer {
        font-size: 16px;
    }

    .post-meta {
        font-size: 16px;
    }
    .post-content {
        font-size: 20px;
        font-weight: 200;
    }
    .post-content pre {
        font-size: 16px;
    }

    .archive-posts {
        font-size: 20px;
    }
    .archive-count,
    .archive-meta {
        font-size: 16px;
    }

    .nav #menu li a {
        font-size: 20px;
    }

    .footer {
        font-size: 14px;
    }


}


.logo a {
    font-weight: normal;
}

:root {
  --link-color: #c64600;
  --link-hover-color: #c64600;
  --link-hover-underline-color: #c64600;
  --link-underline-shadow: 0 1px var(--link-color);
  --link-hover-underline-shadow: 0 2px var(--link-hover-underline-color);
}

html[data-theme="dark"] {
  --link-color: #ff8c38;
  --link-hover-color: #ff8c38;
  --link-hover-underline-color: #ff8c38;
}

.main .profile a,
.main .post-header a,
.main .post-content a,
.main .entry-content a {
    color: var(--link-color);
    box-shadow: var(--link-underline-shadow);
    transition: var(--link-transition);
}
.main .profile a:hover,
.main .post-header a:hover,
.main .post-content a:hover,
.main .entry-content a:hover {
    box-shadow: var(--link-hover-underline-shadow);
    /*
    background: var(--link-color);
    color: var(--theme);
    box-shadow: none;
     **/
}

.main .social-icons a {
    box-shadow: none;
}
.social-icons a:after {
    display: none;
}

.terms-tags a {
    box-shadow: none;
    color: var(--primary);
}

/* First and last child are empty. */
.home-info p+p {
    margin-top: 1rem;
}

.home-info p:last-child {
    margin-bottom: 0;
}

/* Backlinks */

.main .post-content .backlinks h1,
.main .post-content .backlinks h2,
.main .post-content .backlinks h3,
.main .post-content .backlinks h4,
.main .post-content .backlinks h5,
.main .post-content .backlinks h6 {
    padding: 0;
    margin-top: 10px;
    margin-inline-start: 15px;
}
.main .post-content .backlinks h4 {
    font-size: 1rem;
}

.main .post-content .backlinks ul {
    padding-inline-start: 40px;
    padding-inline-end: 20px;
    padding-bottom: 10px;
}

.main .post-content .backlinks li {
    line-height: 1em;
}

.main .post-content .backlinks li a {
    border-radius: 0;
    color: var(--link-color);
    display: inline;
    padding: 0;
    margin: 0;
    text-decoration: none;
}



/* Tables */
table td {
    vertical-align: top;
}

/* Recipes */
.scaler {
    border-radius: var(--radius);
    border: 1px solid var(--border);
    background-color: var(--code-bg);
    color: var(--content);
    margin: 0 5px;
    padding: 0.2em;
}
input.scaler {
    padding: 0.2em 0.6em;
    width: 10ch;
}
.servings {
    font-weight: bold;
}

.ingredients ul {
    list-style: none;
    padding-left: 0;
}

/* Buttons */
button:hover {
    background-color: var(--secondary);
    color: var(--entry);
}
button.scaler {
    width: 4ch;
}

/* Table of contents*/
.toc summary h2 {
    margin: 0;
    display: inline;
    font-size: 1.2rem;
}

.toc a {
    box-shadow: none;
}

.toc.flashcards li a {
    padding: 0;
    border-radius: 0;
    display: inline;
    line-height: inherit;
}

/* <blockquote> */

.post-content blockquote {
    opacity: 1;
}
